html {
  height: 100%;
}

body {
  font: normal 16px Georgia, serif;
  padding: 0;
  margin: 0;
}

h1 {
  margin: 0;
  font: bold 24px;
  text-align: center;
}

h3 {
  text-align: center;
}

p{
  text-align: center;
  margin: auto;
  width: 50%;
}

a {
  color: steelblue;
  text-decoration: none;
  padding: 0px 5px 0px 0px;
  transition: 1s;
}

a:hover {
  color: powderblue;
  text-decoration: underline;
}

a:focus {
  font-size: 1.2em;
}

header {
  border: 1px solid lightblue;
  padding: 1em;
}

#poem {
  background-color: #FFF8C6;
  padding-top: 15px;
  padding-bottom: 15px; 
}
