html {
  height: 100%;
}

body {
  font: normal 16px Georgia, serif;
}

h1 {
  margin: 0;
  font: bold 24px;
}

p{
  text-align: center;
  margin: auto;
  width: 50%;
}

a {
  color: steelblue;
  text-decoration: none;
  padding: 0px 5px 0px 0px;
  transition: 1s;
}

a:hover {
  color: powderblue;
  text-decoration: underline;
}

a:focus {
  font-size: 1.2em;
}

#colorstrip{
    height: 0px;
    border-bottom:solid 1000px lightyellow;
}​
